<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<h1>Welcome to <i class="fa-solid fa-book"></i>Bookers!</h1>
<h6>in <i class="fa-solid fa-book"></i>Bookers,</h6>

<h4>you can share and exchange your opinions,inpressions,and emotions <br> about various books!</h4>